/* styles.css */
svg {
    fill: black;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.character {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.character h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.character p {
    margin: 5px 0;
}

